.footer {
  // LAYOUT
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--spacing-xsmall);
  height: 4rem;
  margin-top: auto;

  // STYLE
  background-color: var(--sageA2);
}

.links {
  margin: unset;
  display: flex;
  list-style-type: none;
}
