.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  // NEEDED FOR FOOTER FIX
  flex-grow: 1;
}

.avatarAnimation {
  display: block;
  position: relative;
  height: 15rem;
  width: 100%;
  z-index: -999;

  .avatar {
    max-height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.gradient {
  // VARIABLES
  --gradient-blob-size-large: 60vw;

  --gradient-color-one: var(--blue8);
  --gradient-color-two: var(--red9);
  --gradient-color-three: var(--teal8);
  --gradient-color-four: var(--amber9);

  position: relative;
  height: 15rem;
  width: 100%;
  overflow: hidden;
  z-index: -1000;
  background-image: linear-gradient(
    80deg,
    var(--gradient-color-one),
    var(--gradient-color-two)
  );

  .blob {
    // LAYOUT
    position: absolute;
    height: var(--gradient-blob-size-large);
    width: var(--gradient-blob-size-large);
    // STYLE
    border-radius: 50%;
    filter: blur(5rem);
    will-change: filter;

    &.up {
      animation: blobDown 65s infinite linear;
      left: 0;
      background-image: linear-gradient(
        80deg,
        var(--gradient-color-one),
        var(--gradient-color-three)
      );
    }

    &.down {
      animation: blobUp 30s infinite linear;
      right: 0;
      background-image: linear-gradient(
        80deg,
        var(--gradient-color-four),
        var(--gradient-color-two)
      );
    }
  }
}

// BLOB ANIMATION
@keyframes blobDown {
  0%,
  100% {
    top: -6.25rem;
  }
  70% {
    top: 2rem;
  }
}

@keyframes blobUp {
  0%,
  100% {
    bottom: 10rem;
  }
  70% {
    bottom: -6.25rem;
  }
}

// ---

.intro {
  max-width: 750px;
  padding: 0 var(--spacing-xxlarge);

  .textSection {
    margin-top: var(--spacing-xxlarge);
    margin-bottom: var(--spacing-xxxlarge);
  }

  .title {
    margin-bottom: var(--spacing-small);
  }

  .paragraph {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-medium);
  }
}

.sectionTwo {
  padding-top: var(--spacing-xlarge);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--sage2);
  border-top: 0.125rem solid var(--sage7);
  border-bottom: 0.125rem solid var(--sage7);

  .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-small);
    justify-content: center;
    margin: var(--spacing-xlarge) 0;
  }
}
